body {
    background-image: url("backimage2.jpg");
    height: 120%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;



}


.header {
    padding: 1px;
    background: #1d2c2b;
    color: white;
    font-size: 50px;
    padding-left: 25%;
    letter-spacing: 100%;
    font-family: 'Sriracha', cursive;
    font-size: 55px;





}

.flex-container {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: flex-end;
    letter-spacing: 30px;
    color: white;

}

.infos {

    margin: auto;
    width: 48%;
    border: 1px solid white;
    padding: 25px;
    color: white;
    text-align: center;
    margin-right: 370px;
    border-bottom: 0;




}

.commande {
    margin: auto;
    width: 48%;
    border: 1px solid white;
    padding: 25px;
    color: white;
    line-height: 2.2;
    text-align: center;
    border-bottom: 0;
}

.other {
    margin: auto;
    width: 48%;
    border: 1px solid white;
    padding: 25px;
    color: white;
    line-height: 2.5;
    text-align: center;
    border-bottom: 1;

}

.button1 {
    width: 200px;
    margin-left: 45%;
    Border: none;

}

.nom {
    margin-left: 25px;
    color: white;

}

.Firstname {
    margin-left: 6px;
    color: white;
}

.phone {
    margin-left: -11px;
    color: white;
}

.email {
    margin-left: 25px;
    color: white;
}

.imageinfos {
    margin-left: 40px;
    text-align: center;

}

.imagecommande {
    margin-left: 45px;
}

.imageother {
    margin-left: 90px;
}

.recap {
    margin: auto;
    width: 48%;
    border: 1px solid white;
    padding: 25px;
    color: white;

}